<% provide(:title, "施設登録") %>

<div class="center jumbotron" id="jumbo-position">
</div>

<body class="main-img">
  <div id="hiyari-title">
    <h1>ヒヤリ・事故報告書管理システム</h1>
    <p>このアプリではヒヤリハット・事故報告書を管理できます。</p>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</body>
