<% provide(:title, "施設新規登録") %>

<div class="center jumbotron" id="jumbo-position">
</div>

<body class="main-img">
  <div id="hiyari-title">
    <h1>ヒヤリ・事故報告書管理システム</h1>
    <p>このアプリでは、ヒヤリハット・事故報告書の管理を簡単にすることができます。</p>
    <%= link_to "施設新規登録", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</body>
